{% extends 'base.html' %}

{% block content %}

<h1>{{ category.name }}</h1>

<p>Exercises in this category:</p>
<ul>
    {% for exercise in exercises %}
    <li>{{ exercise.name }}</li>
    {% endfor %}
</ul>

<form method="POST" action="{{ url_for('main.category_detail', category_id=category.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Edit category name</legend>

        {{ form.name.label }}
        {{ form.name }}

        {{ form.submit }}
    </fieldset>
</form>

<form method='POST' action='/delete_category/{{ category.id }}'>
    <input type='submit' value='Delete category'>
</form>

{% endblock %}