{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{ url_for('main.create_exercise') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Enter a new exercise</legend>
        {{ form.name.label }}
        {{ form.name }}
        <ul>
            {% for error in form.name.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.description.label }}
        {{ form.description }}
        <ul>
            {% for error in form.description.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
        
        {{ form.category.label }}
        {{ form.category }}
        <ul>
            {% for error in form.category.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.submit }}

</form>
{% endblock %}